<h1>Editing Book</h1>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

<h4>Title</h4>
  <%= f.text_field :title %>
  
<h4>Body</h4>
  <%= f.text_area :body %>
  
<h4><%= f.submit 'Update Book' %></h4>

<% end %>

<!--<span><PA= link_to "Show", "/show" %> | <PA= link_to "Back", "/new" %></span>-->

・Routing Error
No route matches [GET] "/edit"
