
<!--<div>-->
<!--  <a= flash[:notice] %>-->
<!--</div>-->



<p><strong>Title:</strong> <%= @book.title %></p>


<p><strong>Body:</strong> <%= @book.body %></p>



<span><%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", "/books" %></span>


<!--Editリンクが表示される (FAILED - 1)-->
<!-- Failure/Error: expect(edit_link.native.inner_text).to match(/edit/i)-->
     
<!--       expected "" to match /edit/i-->
<!--       Diff:-->
<!--       @@ -1 +1 @@-->
<!--       -/edit/i-->
<!--       +""-->
 
<!-- 現状、-->
<!-- <a><あ= link_to "Edit", edit_book_path(@book.id) %> | <あ= link_to "Back", "/books" %>-->
 
 
 
<!-- <編集画面のリンクの遷移は合格してる>-->
<!-- <span><あ= link_to "Show", book_path(@book.id) %> | <あ= link_to "Back", "/books" %></span>-->
 
 
<!--編集画面と詳細画面の<a>タグと<span>タグの違いの前に編集画面の<a>タグの</a>がない-->


<!--結果、詳細画面のリンクを<span>タグで囲ったら解決した-->