/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

.errors-box {
  width: 468px;
  height: 134px;
  olor: red;
  border: 1px solid red;
}


.flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
 color: #008000;

 
.flash-message.alert {
  width: 450px;
  border: 2px solid #CC0000;
  padding: 7px;
  margin-bottom: 20px;
  background-color: red;
}

/*@media screen and (max-width:  px) {*/