/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/



body {
  margin: 33px;
  font-size: 13px;
  /*font-familyはお手本のデベロッパーを見て参考に以外の方法がなかった*/
  font-family: verdana, arial, helvetica, sans-serif; 
  line-height: 18px;
}

h1 {
  margin: auto;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

p {
  margin: 33px;
}

tr {
  padding: 1px 1px 5px;
}

td {
  padding: 1px 5px 7px;
}


.label-box {
  margin: 0 0 10px;
}

.label-text {
  display: block;
}

.label-box {
  display: block;
}

.flash-message.notice {
  color: #008000;
  margin: 33px;
}
 
 /*インデックスのshow,edit,destroyのリンクを画面サイズが変わっても横並びのままにしたい
 /*@media screen and (max-width: 784px) {*/
 /*  td {*/
 /*    display: */
 /*  }*/
 /*}*/